<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-image-generator (historyEvent)='historyEventHandler($event)'></app-image-generator>
  <app-image-generator-history [PictureHistory]='imageHistory'></app-image-generator-history>
</div>


