<div>
    <p>Please select <select [(ngModel)]='selectedOption'>
        <option *ngFor='let item of urlOptions' [ngValue]='item'>{{item.optionText}}</option>
    </select> with width
    <input placeholder="Width" [(ngModel)]='pictureOptions.width'/> and height
    <input placeholder="Height" [(ngModel)]='pictureOptions.height'/>
    <button [disabled]='selectedOption.optionText==="placeholder"' (click)="imageGeneratorHandler()">Go</button></p>
</div>
<div *ngIf='selectedOption.optionText === "placeholder"'>
    <div>
        <label for="wandh">Same width and height <input (change)="tickBoxHandler()" type="checkbox" name="wandh" [(ngModel)]='pictureOptions.isSameWidthAndHeight'></label>
    </div>
    <div>
        <label for="bgcolor">Background Color <input type="color" name=bgcolor [(ngModel)]='pictureOptions.bgColor'></label>
    </div>
    <div>
        <label for="fgcolor">Foreground Color <input type="color" name=fgcolor [(ngModel)]='pictureOptions.fgColor'></label>
    </div>
    <div>
        <label for="text">Text<input placeholder="Text" name=text [(ngModel)]='pictureOptions.pictureText'></label>
    </div>
    <div>
        <label for="formatSelector">Select Format <select name="formatSelector" [(ngModel)]='selectedFormat'>
                <option *ngFor='let item of pictureFormats' [(ngValue)]='item'>{{item}}</option>
            </select>
        </label>
    </div>
    <div>
        <button (click)="placeHolderButtonHandler()">Go</button>
    </div>
</div>

<img *ngIf='this.pictureOptions.picUrl' [src]='this.pictureOptions.picUrl'>